 #mixpanel-notification-content {
            font-size: 20px;
            font-family: Impact;
            font-weight: bold;
        }

        #txtSearchCourse {
            width: 100% !important;
        }

        span.twitter-typeahead {
            width: 100% !important;
        }

        .twitter-typeahead .tt-hint {
            width: 100% !important;
        }
         .loader {
            display: none;
            position: fixed !important;
            left: 50%;
            top: 50%;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #3498db;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            z-index: 1001;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
        }

            .loader:before {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                border-radius: 50%;
                border: 3px solid transparent;
                border-top-color: #e74c3c;
                -webkit-animation: spin 3s linear infinite;
                animation: spin 3s linear infinite;
            }

            .loader:after {
                content: "";
                position: absolute;
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                border-radius: 50%;
                border: 3px solid transparent;
                border-top-color: #f9c922;
                -webkit-animation: spin 1.5s linear infinite;
                animation: spin 1.5s linear infinite;
            }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(0deg); /* IE 9 */
                transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
            }

            100% {
                -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(360deg); /* IE 9 */
                transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
            }
        }
          .NoPreview, .NoPreview:hover {
            background-color: #d9d9d9;
            cursor: not-allowed;
        }

        .list-body a:hover {
            cursor: default;
        }

        .SampleCertImgClass {
            -webkit-animation-duration: 4s;
            -moz-animation-duration: 4s;
            -webkit-animation-delay: 1s;
            -moz-animation-delay: 1s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            animation-duration: 4s;
            animation-delay: 1s;
        }

        #lnkTakeCourse {
            /*-webkit-animation-duration: 3s;
            -moz-animation-duration: 3s;*/
            -webkit-animation-delay: 2s;
            -moz-animation-delay: 2s;
            /*animation-duration: 3s;*/
            animation-delay: 2s;
        }

        .list-group-item {
            border: none;
        }

        .spinner.loading {
            padding: 25px;
            position: relative;
            text-align: center;
        }

            .spinner.loading:before {
                content: "";
                height: 30px;
                width: 30px;
                margin: -15px auto auto -15px;
                position: absolute;
                top: 50%;
                left: 50%;
                border-width: 4px;
                border-style: solid;
                border-color: #11538c #ccc #ccc;
                border-radius: 100%;
                animation: rotation .7s infinite linear;
            }

        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(359deg);
            }
        }