/*--------.menu_area-------- */
.menu_area{
    float: left;
    display: inline;
    width: 100%;
  }
  .navbar-default .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px; 
  }
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: transparent;
    color: #fff;
  }
  .navbar-default {
    background-color: #313b3d;
    border-color: transparent;
  }
  #navbar{overflow-x: hidden;}
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 30px 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
   #login {
  margin-top:25px;
  }
  #enquiry{
      margin-top: -6px;
      margin-left:10px;
  }
  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
  }
  .navbar-nav > li > .dropdown-menu {
    background-color: #48575a; 
  }
  .navbar-nav > li > .dropdown-menu:before { 
    border-bottom: 15px solid #48575a; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 25px;
    top: -15px;
    width: 0;
  }
  .navbar-nav > li > .dropdown-menu li a {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    color: #fff;
    display: block;  
    opacity: 0.8;
    padding: 10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navbar-nav > li > .dropdown-menu > li:last-child a {
    border-bottom: medium none;
  }
  .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color:transparent;  
    text-decoration: none;
  }
  .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: transparent;  
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
  }
  /*----------nav bar---------------*/
#logo img{
    margin-left: -50px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    
  }
  .navbar-brand >span{
      color:#78adc9;
  }
  .navbar-default .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px; 
  }
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: transparent;
    color: #78adc9;
  }
  .navbar-default {
    background-color: #313b3d;
    border-color: transparent;
  }
  #navbar{overflow-x: hidden;}
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 30px 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
   #login {
  margin-top:25px;
  }
  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color:#78adc9;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color:#78adc9;
  }

  
/*--------------------*/
/* FOOTER SECTION */
/*--------------------*/

/*----footer------*/

#footer{
    float: left;
    display: inline;
    width: 100%;
    padding-top: 40px;
    font-family:'Merriweather', serif;
  }
  .footer_top{
    float: left;
    display: inline;
    width: 100%;
    background-color: #1e2223;
    padding: 60px 0px;
  }
  .single_footer_widget {
    display: inline;
    float: left;
    padding: 0 10px;
    width: 100%;
  }
  .single_footer_widget > h3 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .single_footer_widget>p{
    color: #fff;
  }
  .footer_widget_nav li a {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
    display: block;
    text-decoration:none;
  }
  
  .footer_social li a {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 22px;
    padding: 0 10px;
  }
  .footer_bottom{
    float: left;
    display: inline;
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px 0px;
  }
  .footer_bootomLeft{
    float: left;
    display: inline;
    width: 100%;
  }
  .footer_bootomLeft>p,.footer_bootomRight>p{margin-bottom: 0px;}
  
  .footer_bootomRight{
    float: left;
    display: inline;
    width: 100%;
    text-align: right;
  }
.footer_widget_nav ,.footer_social li{
    list-style: none;